/* suggest-widget size */
.tabs {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.monaco-editor .suggest-widget.docs-side {
  width: 1500px;
}

.monaco-editor .suggest-widget.docs-side > .details {
  width: 80%;
  max-height: 1200px !important;
}

.monaco-editor .suggest-widget.docs-side > .tree {
  width: 45%;
  float: left;
}

/* parameter-hints-widget */

.editor-widget.parameter-hints-widget.visible {
  max-height: 1200px !important;
}

.monaco-editor .parameter-hints-widget > .wrapper {
  max-width: 1500px;
}

.monaco-editor-hover .monaco-editor-hover-content {
  max-width: 1500px;
}

.sidebar .monaco-list-row {
  font-size: 17px;
}

/*
.sidebar .codicon {
  font-size: 120px;
}

.sidebar .monaco-icon-label:before {
  background-size: 120px;
}
 */

 .monaco-editor .cursors-layer .cursor {
  color: white;
  background-color: deeppink;
  border-color: deeppink;
  box-shadow: 0 0 7px deeppink;
}

/** This highlights the fake cursors (f.e. on visual select) as well as the momentary highlight of yanked text. */
.vs-dark.monaco-editor [class*="ced-1-TextEditorDecorationType"] {
  color: white !important;
  background-color: deeppink;
  border-color: deeppink;
  box-shadow: 0 0 7px deeppink;
}

/* Active tab neon */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit.active {
  box-shadow: inset 0 -5px 25px #fc28a825;
  position: relative;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
  z-index: 6;
}

/***** others modifications */

.composite-title,
.composite-title,
.vs-dark .monaco-workbench > .activitybar > .content {
  background-color: rgba(40, 44, 52, 1) !important;
}


.tab.active,
.tab {
  border-right: 0px !important;
  border-left: 0px !important;
}
.tab.active {
  border-bottom: 2px solid #ffff00 !important;
}
.title.tabs.active,
.tabs,
.tablist,
.tabs-container,
.tab,
.composite-title,
.composite.title {
  height: 60px !important;
}
.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title.tabs:before {
  border: 0px !important;
}
.title.tabs::before {
  border: 0px !important;
}
.monaco-workbench > .part > .composite.title {
  align-items: center;
}

.part.editor.monaco-editor-background,
.part.panel.monaco-editor-background {
  box-shadow: -11px 2px 25px -7px rgba(14, 15, 18, 1);
}

.monaco-split-view .vertical {
  background-color: rgba(40, 42, 52, 0.7);
}

span[title="Explorer"],
.vs-dark .monaco-workbench > .part > .composite.title > .title-label span {
  color: white;
}
