/* suggest-widget size */
.tabs {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.monaco-editor .suggest-widget.docs-side {
  width: 1500px;
}

.editor-widget.parameter-hints-widget.visible {
  max-height: 1500px !important;
}

.monaco-editor .parameter-hints-widget > .wrapper {
  max-width: 1500px;
}

.monaco-editor-hover .monaco-editor-hover-content {
  max-width: 1500px;
}

.sidebar .monaco-list-row {
  font-size: 18px;
}

.sidebar .codicon {
  font-size: 18px;
}

/*
.sidebar .monaco-icon-label:before {
  background-size: 120px;
}
 */


/** This highlights the fake cursors (f.e. on visual select) as well as the momentary highlight of yanked text. 
.vs-dark.monaco-editor [class*="ced-1-TextEditorDecorationType"] {
  color: white !important;
  background-color: deeppink;
  border-color: deeppink;
  box-shadow: 0 0 7px deeppink;
}
*/
/* Active tab neon 
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit.active {
  box-shadow: inset 0 -5px 25px deeppink;
  position: relative;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
  z-index: 6;
}
*/


/***** others modifications */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab:first-child {
  border-top-left-radius: 0;
}

.tab.active {
  border-bottom: 2px solid deeppink !important;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title.tabs:before {
  border: 0px !important;
}

.title.tabs::before {
  border: 0px !important;
}

.monaco-workbench > .part > .composite.title {
  align-items: center;
}
